@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
font-family: 'Poppins', sans-serif;
font-size: 15px;
font-weight:400;
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img{
 	margin-top: -30px; 
 	max-height: 7rem;
}
.error{
	color: #D8000C;
	font-weight:unset !important;
}
.bg-gradient-default {
    background: linear-gradient(87deg, #5e72e4 0, #5e72e4 100%) !important;
}
/*.brand-link .brand-image{
	margin-left: 0px !important;
}*/
.form-control.custom-select.error{
  color: #495057 !important;
}
.form-control.error[type="email"] {
	color: #495057 !important;
}
.error[type="file"] {
  color: #495057 !important;
}
.form-contol.error{
  color: #495057 !important; 
}

/* button slider start*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-control.custom-select.error{
  color: #495057;
}
/* Button slider end */

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: #fff !important;
}